Second Step 04 exercises/Exercises.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f29c8026-417f-415b-8780-ab083c3c8f0f" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="ExercisesFlow" doc:id="2c668ba5-00c9-4e1c-9e73-58afdc308138" >
		<http:listener doc:name="Listener" doc:id="7ce3317f-3e04-4256-adfc-2e8b231e0223" path="/getCustomerInfo" allowedMethods="GET" config-ref="HTTP_Listener_config"/>
		<set-variable value="#[upper(attributes.queryParams.name)]" doc:name="Set Variable" doc:id="513531c5-9594-403d-a65e-3021dc9dc3db" variableName="firstName" />
		<set-payload doc:name="Set Payload" doc:id="95e9a3bb-0791-432b-ba1a-e68b329c5f1f" value="#[upper('Welcome' ++ ' ' ++   (attributes.queryParams.firstName default 'Swapnil' ) ++ ' ' ++ ' Your location is ' ++ (attributes.queryParams.location default 'India'))]"/>
		<logger level="INFO" doc:name="Logger" doc:id="27f487f8-4863-42c6-a89e-cfd9c6a65299" message="#['Welcome' ++ ' ' ++  (attributes.queryParams.firstName default 'Swapnil' ) ++ ' ' ++ ' Your location is ' ++ (attributes.queryParams.location default 'India')]"/>
	</flow>

	
	
</mule>
	
